@import "./../../../assets/styles/vars";

.questionScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  .quesRow {
    font-size: 1.7rem;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    font-weight: bold;
    .inputBox {
      text-align: center;
      box-sizing: border-box;
      font-size: 1.7rem;
      padding-left: 50px;
      width: 60px;
      border-radius: 20px;
    }
  }
  .nextBtn {
    margin: auto;
    width: 60%;
  }
}
