@import "./../../assets/styles/vars";

.startScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  .quesSelector {
    margin: auto;
    font-size: 1.5rem;
    padding: 10px;
    .icon {
      color: $mediumBlue;
    }
    .disabledIcon {
      opacity: 0.5;
    }
  }
  .startQuizBtn {
    font-size: 1.3rem;
    border-radius: 30px;
    margin: auto;
    width: 60%;
  }
}
