@import "./../../../assets/styles/vars";

.startScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  .noqChanger {
    margin: auto;
    font-size: 1.25rem;
    padding: 10px;
    .icon {
      color: $mediumBlue;
    }
    .disabledIcon {
      opacity: 0.5;
    }
  }
  .startQuizBtn {
    font-size: 1.3rem;
    border-radius: 30px;
    margin: auto;
    width: 60%;
  }
  .operatorSelector {
    margin: auto;
    font-size: 1.25rem;
    padding: 10px;
    .operatorBox {
      width: 50px;
      height: 50px;
      border-radius: 15px;
      margin: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .active {
      box-shadow: $outerShadow2;
      background-color: $cardBgColor;
      &:hover {
        box-shadow: $outerShadow3;
      }
    }
    .inactive {
      box-shadow: $innerShadow;
      background-color: $veryLightGrey;
      &:hover {
        box-shadow: $innerShadow2;
      }
    }
    .operatorBtnsDiv {
      display: flex;
      flex-direction: row;
    }
  }
}
