$linkWater: #bfc3cf;
$white: #fff;
$lightGrayishBlue: #eff0f3;
$lightBluishGray: #e5e6eb;
$darkBlue: #071e54;
$lightBlue: #35d3e1;
$mediumBlue: #264a9f;
$vividBlue: #195dff;
$veryLightRed: #ffebeb46;
$veryLightBlue: #e1e6ff;
$corrAnsBg: rgba(0, 255, 0, 0.413);
$incorrAnsBg: rgba(255, 0, 0, 0.413);
$red: red;
$green: green;
$lightGrey: rgba(183, 183, 183, 0.414);
$veryLightGrey: rgba(255, 255, 255, 0.324);

$cardBgColor: linear-gradient(
  to bottom right,
  $lightGrayishBlue,
  $lightBluishGray
);

$innerShadow: inset 3px 3px 6px $linkWater, inset -3px -3px 6px $white;
$innerShadow2: inset 3px 3px 6px rgb(160, 160, 255), inset -3px -3px 6px $white;
$outerShadow: 3px 3px 6px $linkWater, -3px -3px 6px $white;
$outerShadow2: -3px -3px 6px $white, 3.5px 3.5px 6px rgba($vividBlue, 0.4);
$outerShadow3: -3px -3px 6px $white, 3.5px 3.5px 6px rgba($mediumBlue, 0.8);
$outerShadowDark: 3.5px 3.5px 6px rgb(0, 76, 255), -3.5px -3.5px 6px $white;

$blueBgGradient: linear-gradient(
  to right,
  $lightBlue -45%,
  $mediumBlue 110%,
  $vividBlue 140%
);
$scrollBarGradient: linear-gradient(
  45deg,
  $lightBlue -45%,
  $mediumBlue 110%,
  $vividBlue 140%
);
